root:
  askformore: false
  autoimport: true
  autosync: true
  cliptimeout: 45
  noconfirm: true
  nopager: false
  path: /home/{{gopass_username}}/.password-store
  safecontent: false
  usesymbols: false
  nocolor: false
mounts: {}
version: {{gopass_version}}